.header-image {
	background: url("../../../../public/header.jpeg");
	background-size: cover;
	background-position: 100% 50%;
	background-repeat: no-repeat;
}

/* .header-image {
	background: url("../../images/Jpgs/header_bg.jpg") no-repeat center center;
	background-size: cover;
} */
